body {
    font-family: Segoe UI;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    color: rgb(66, 78, 90);
}

.grid {
    display: grid;
    grid-template-columns: 30% 55px 80px auto;
    grid-gap: 2%;
    max-width: 700px;
    justify-items: center;
    align-items: center;
    grid-row-gap: 10px;
}

.ejemplo {
    grid-column: 4;
    grid-row-start: span 4;
    text-align: center;
}

.shortcutText {
    margin: 10px;
}

.textBox {
    z-index: 9999;
    display: inline-block;
}

.sticky,
.changeText {
    width: 200px;
    height: 100px;
}

.changeText {
    position: relative;
    top: 1em;
}

.selection {
    display: inline;
}

.underline {
    text-decoration: underline;
}

.crossout {
    text-decoration: line-through;
}

.ejemplo span {
    position: relative;
    top: -20px;
    left: 130px;
    color: inherit;
}

.url {
    display: inline;
    font-weight: bold;
    text-decoration: underline;
}

.player {
    width: 250px;
    height: 50px;
    position: relative;
}

.hideBtn {
    float: left;
    margin-top: -30px;
    padding: 3px;
    background-color: inherit;
}

.mediaIcon {
    padding: 3px;
    background-color: inherit;
}

.controlBar {
    margin-top: -10px;
    margin-left: 5%;
    margin-right: 5%;
}

.progressBar {
    width: 90%;
    font-size: 12px;
    height: 5px;
    border: solid 1px;
    background-color: transparent;
    margin-left: 5%;
    margin-bottom: 15px;
    margin-top: 5px;
}

.progressBar::-moz-progress-bar {
    height: 5px;
    background-color: inherit;
}

.volume::-moz-range-thumb {
    border: none;
    cursor: pointer;
    width: 10px;
    height: 20px;
    border-radius: 3px;
    background-color: inherit;
}

.volume::-moz-range-track {
    background-color: inherit;
}

.leftMediaButton {
    float: right;
    font-size: 24px;
    margin-top: 3px;
}

.volume {
    width: 100px;
    float: right;
    margin-top: 5px;
    background-color: transparent;
}

.mozButtons {
    background-color: #FBFBFB;
    border: 1px solid #b3b3b3;
    border-radius: 2px;
    height: 28px;
    color: rgb(51, 51, 51);
    font-size: 15px;
}

.tab {
    overflow: hidden;
}


/* Style the buttons inside the tab */

.tab button {
    background-color: inherit;
    float: left;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-right: -1px;
    border-top: none;
    border-bottom: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #bbc1c3;
}


/* Create an active/current tablink class */

.tab button.active {
    padding-bottom: 9px;
    border-bottom: 5px solid #52707e;
    ;
}

.tabcontent {
    padding-top: 16px;
    display: none;
}

.tabcontent.active {
    display: block;
}

#formShortcuts div {
    margin-top: 5px;
}

#formShortcuts label {
    display: inline-block;
    clear: left;
    width: 150px;
    text-align: right;
    margin-right: 5px;
}

#formShortcuts input {
    display: inline-block;
}

#formShortcuts .logText {
    margin-left: 155px;
}